@model Metrict.Models.CampaignViewModels.CampaignUserData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CampaignManageCampaignUser</title>
</head>
<body>
    <h1>Manage Campaign Users: @ViewBag.nameOfCampaign</h1>

    <div class="container row p-0 m-0">
        <div class="col-12 border p-3">
            <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    @foreach (var item in Model.CampaignUsers)
                    {
                        <tr>
                            <th class="tablecentering">
                                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                            </th>
                            <th class="tablecentering">
                                @Html.DisplayFor(modelItem => item.ApplicationUser.NormalizedEmail)
                            </th>
                            <th class="tablecentering">
                                @Html.DisplayFor(modelItem => item.ApplicationUser.UserActive)
                            </th>
                            <th>
                                @if (item.ApplicationUser.UserActive == false)
                                {
                                    <form asp-action="ActivateUser" method="post">
                                        <input type="hidden" id="campaignId" name="campaignId" value="@item.CampaignId" />
                                        <input type="hidden" id="applicationUsersId" name="applicationUserId" value="@item.ApplicationUserId" />
                                        <input type="submit" class='btn btn-success text-white buttonpad' value="Activate User" />
                                    </form>

                                    //<a asp-action="ActivateUser" class='btn btn-success text-white'>Activate User</a>
                                }
                                @if (item.ApplicationUser.UserActive == true)
                                {
                                    <form asp-action="DeactivateUser" method="post">
                                        <input type="hidden" id="campaignId" name="campaignId" value="@item.CampaignId" />
                                        <input type="hidden" id="applicationUsersId" name="applicationUserId" value="@item.ApplicationUserId" />
                                        <input type="submit" class='btn btn-danger text-white buttonpad' value="Deactivate User" />
                                    </form>

                                    //<a asp-action="DeactivateUser" class='btn btn-danger text-white'>Deactivate User</a>
                                }
                                <form asp-action="RemoveUser" method="post">
                                    <input type="hidden" id="campaignId" name="campaignId" value="@item.CampaignId" />
                                    <input type="hidden" id="applicationUsersId" name="applicationUserId" value="@item.ApplicationUserId" />
                                    <input type="submit" class='btn btn-danger text-white buttonpad' value="Remove User" />
                                </form>

                                @*<a asp-action="RemoveUser" class='btn btn-danger text-white'>Remove User</a>*@
                            </th>
                        </tr>
                    }
                </thead>
            </table>
        </div>
        <div class="col-3 offset-3">
            <a href="#" onclick="BackToCampaigns()" class="btn btn-danger form-control">Back to my campaigns</a>
        </div>
    </div>

</body>
</html>
